
body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    color: #000000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.ocean {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000000, #000000);
    background-size: 400% 400%;
    animation: oceanFlow 10s infinite;
    z-index: -1;
}

@keyframes oceanFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.content h1 {
    font-size: 2.5rem;
    text-shadow: 0 0 10px #fcfcfc, 0 0 20px #ffffff, 0 0 30px #ffffff;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #ffffff; }
    100% { text-shadow: 0 0 30px #ffffff; }
}
